<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>597405689355-bvuchk32otcfte3dq81pr4ddf1huges8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.597405689355-bvuchk32otcfte3dq81pr4ddf1huges8</string>
	<key>API_KEY</key>
	<string>AIzaSyBc0mfO1Z0e7qcRq600vT9l1CnpYPPMqso</string>
	<key>GCM_SENDER_ID</key>
	<string>597405689355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.RonishKhadgi.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-fac88</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-fac88.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:597405689355:ios:e79261cc31e32b0050490e</string>
</dict>
</plist>